<div *ngIf='!job && !createJobForm' class='mat-elevation-z8'>
  <md-table #table [dataSource]='dataSource'>
    <ng-container mdColumnDef='title'>
      <md-header-cell *mdHeaderCellDef>Title</md-header-cell>
      <md-cell *mdCellDef='let job'>{{ job.title }}</md-cell>
    </ng-container>

    <ng-container mdColumnDef='company'>
      <md-header-cell *mdHeaderCellDef>Company</md-header-cell>
      <md-cell *mdCellDef='let job'>{{ job.company }}</md-cell>
    </ng-container>

    <ng-container mdColumnDef='status'>
      <md-header-cell *mdHeaderCellDef>Status</md-header-cell>
      <md-cell *mdCellDef='let job'>{{ job.status }}</md-cell>
    </ng-container>

    <ng-container mdColumnDef='actions'>
      <md-header-cell *mdHeaderCellDef>Actions</md-header-cell>
      <md-cell *mdCellDef='let job'>
        <button md-raised-button color='warn' (click)='deleteJob(job)'>Delete</button>
        <button md-raised-button color='primary' (click)='showJob(job)'>Details</button>
      </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef='displayedColumns'></md-header-row>
    <md-row *mdRowDef='let row; columns: displayedColumns;'></md-row>
  </md-table>
</div>

<div *ngIf='!job && !createJobForm' class='button-container'>
  <button md-raised-button (click)='showCreateForm()' color='primary' class='main-center-button'>Create a job</button>
</div>

<md-card *ngIf='isEditing'>
  <md-card-title>Edit this job</md-card-title>
  <md-card-content>
    <form *ngIf='isEditing' [formGroup]='editJobForm' (ngSubmit)='submitEditForm(editJobForm.value)'>
      <job-form [jobForm]='editJobForm'></job-form>
      <button md-raised-button type='submit' color='primary' [disabled]='!editJobForm.valid'>Submit</button>
    </form>
  </md-card-content>
</md-card>

<md-card *ngIf='job'>
  <job-view [job]='editJobForm.controls'></job-view>
  <md-card-actions>
    <button md-button (click)='showTable()' color='primary'>Return to Table View</button>
    <button md-button (click)='showEditForm()'>Edit</button>
  </md-card-actions>
</md-card>

<md-card *ngIf='createJobForm'>
  <md-card-title>Create a job</md-card-title>
  <md-card-content>
    <form [formGroup]='createJobForm' (ngSubmit)='submitCreateForm(createJobForm.value)'>
      <job-form [jobForm]='createJobForm'></job-form>
      <button md-raised-button type='submit' color='primary' [disabled]='!createJobForm.valid'>Submit</button>
      <button md-button type='button' (click)='showTable()' color='warn'>Cancel</button>
    </form>
  </md-card-content>
</md-card>

<md-card *ngIf='createJobForm'>
  <job-view [job]='createJobForm.controls'></job-view>
</md-card>
