<div *ngIf='!job && !isCreating' class='mat-elevation-z8'>
  <md-table #table [dataSource]='dataSource'>
    <ng-container mdColumnDef='title'>
      <md-header-cell *mdHeaderCellDef>Title</md-header-cell>
      <md-cell *mdCellDef='let job'>{{ job.title }}</md-cell>
    </ng-container>

    <ng-container mdColumnDef='company'>
      <md-header-cell *mdHeaderCellDef>Company</md-header-cell>
      <md-cell *mdCellDef='let job'>{{ job.company }}</md-cell>
    </ng-container>

    <ng-container mdColumnDef='status'>
      <md-header-cell *mdHeaderCellDef>Status</md-header-cell>
      <md-cell *mdCellDef='let job'>{{ job.status }}</md-cell>
    </ng-container>

    <ng-container mdColumnDef='actions'>
      <md-header-cell *mdHeaderCellDef>Actions</md-header-cell>
      <md-cell *mdCellDef='let job'>
        <button md-raised-button color='warn' (click)='deleteJob(job)'>Delete</button>
        <button md-raised-button color='primary' (click)='showJob(job)'>Details</button>
      </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef='displayedColumns'></md-header-row>
    <md-row *mdRowDef='let row; columns: displayedColumns;'></md-row>
  </md-table>
</div>

<div *ngIf='!job && !isCreating' class='button-container'>
  <button md-raised-button (click)='showCreateForm()' color='primary' class='main-center-button'>Create a job</button>
</div>

<md-card *ngIf='job'>
  <job-view [job]='editJobForm.controls'></job-view>
  <md-card-actions>
    <button md-button (click)='showTable()' color='primary'>Return to Table View</button>
    <button md-button (click)='showEditForm()'>Edit</button>
  </md-card-actions>
</md-card>

<form *ngIf='isEditing' [formGroup]='editJobForm' (ngSubmit)='submitEditForm(editJobForm.value)'>
  <input-field
    [type]="'text'"
    [placeholder]="'Title of Job Position'"
    [control]='editJobForm.controls.title'>
  </input-field>

  <input-field
    [type]="'text'"
    [placeholder]="'Company Name'"
    [control]='editJobForm.controls.company'>
  </input-field>

  <input-field
    [type]="'text'"
    [placeholder]="'Company Url'"
    [control]='editJobForm.controls.company_url'>
  </input-field>

  <input-field
    [type]="'text'"
    [placeholder]="'Application Url'"
    [control]='editJobForm.controls.application_url'>
  </input-field>

  <input-field
    [type]="'text'"
    [placeholder]="'Point of Contact'"
    [control]='editJobForm.controls.point_of_contact'>
  </input-field>

  <input-field
    [type]="'date'"
    [placeholder]="'Date Posted'"
    [control]='editJobForm.controls.date_posted'>
  </input-field>

  <input-field
    [type]="'date'"
    [placeholder]="'Date Applied'"
    [control]='editJobForm.controls.date_applied'>
  </input-field>

  <md-select placeholder='Status' [formControl]='editJobForm.controls.status' floatPlaceholder='always'>
    <md-option *ngFor='let status of statuses' [value]='status.value'>
      {{ status.viewValue }}
    </md-option>
  </md-select>

  <input-field
    [format]="'textArea'"
    [placeholder]="'Description'"
    [control]='editJobForm.controls.description'>
  </input-field>

  <input-field
    [format]="'textArea'"
    [placeholder]="'Cover letter'"
    [control]='editJobForm.controls.cover_letter'>
  </input-field>

  <button md-raised-button type='submit' [disabled]='!editJobForm.valid'>Submit</button>
</form>

<md-card *ngIf='isCreating'>
  <job-view [job]='createJobForm.controls'></job-view>
  <md-card-actions>
    <button md-button (click)='showTable()' color='primary'>Return to Table View</button>
  </md-card-actions>
</md-card>

<form *ngIf='isCreating' [formGroup]='createJobForm' (ngSubmit)='submitCreateForm(createJobForm.value)'>
  <input-field
    [type]="'text'"
    [placeholder]="'Title of Job Position'"
    [control]='createJobForm.controls.title'>
  </input-field>

  <input-field
    [type]="'text'"
    [placeholder]="'Company Name'"
    [control]='createJobForm.controls.company'>
  </input-field>

  <input-field
    [type]="'text'"
    [placeholder]="'Company Url'"
    [control]='createJobForm.controls.company_url'>
  </input-field>

  <input-field
    [type]="'text'"
    [placeholder]="'Application Url'"
    [control]='createJobForm.controls.application_url'>
  </input-field>

  <input-field
    [type]="'text'"
    [placeholder]="'Point of Contact'"
    [control]='createJobForm.controls.point_of_contact'>
  </input-field>

  <input-field
    [type]="'date'"
    [placeholder]="'Date Posted'"
    [control]='createJobForm.controls.date_posted'>
  </input-field>

  <input-field
    [type]="'date'"
    [placeholder]="'Date Applied'"
    [control]='createJobForm.controls.date_applied'>
  </input-field>

  <md-select placeholder='Status' [formControl]='createJobForm.controls.status' floatPlaceholder='always'>
    <md-option *ngFor='let status of statuses' [value]='status.value'>
      {{ status.viewValue }}
    </md-option>
  </md-select>

  <input-field
    [format]="'textArea'"
    [placeholder]="'Description'"
    [control]='createJobForm.controls.description'>
  </input-field>

  <input-field
    [format]="'textArea'"
    [placeholder]="'Cover letter'"
    [control]='createJobForm.controls.cover_letter'>
  </input-field>

  <button md-raised-button type='submit' [disabled]='!createJobForm.valid'>Submit</button>
</form>
