<div class='col-2'>
  <input-field
    [type]="'text'"
    [placeholder]="'Title of Job Position'"
    [control]='jobForm.controls.title'>
  </input-field>

  <input-field
    [type]="'text'"
    [placeholder]="'Application Url'"
    [control]='jobForm.controls.application_url'>
  </input-field>

  <input-field
    [type]="'text'"
    [placeholder]="'Company Name'"
    [control]='jobForm.controls.company'>
  </input-field>

  <input-field
    [type]="'text'"
    [placeholder]="'Company Url'"
    [control]='jobForm.controls.company_url'>
  </input-field>

  <input-field
    [type]="'date'"
    [placeholder]="'Date Posted'"
    [control]='jobForm.controls.date_posted'>
  </input-field>

  <input-field
    [type]="'date'"
    [placeholder]="'Date Applied'"
    [control]='jobForm.controls.date_applied'>
  </input-field>

  <md-select placeholder='Status' [formControl]='jobForm.controls.status' floatPlaceholder='always'>
    <md-option *ngFor='let status of statuses' [value]='status.value'>
      {{ status.viewValue }}
    </md-option>
  </md-select>

  <input-field
    [type]="'text'"
    [placeholder]="'Point of Contact'"
    [control]='jobForm.controls.point_of_contact'>
  </input-field>
</div>

<input-field
  [format]="'textArea'"
  [placeholder]="'Feedback'"
  [control]='jobForm.controls.feedback'>
</input-field>

<input-field
  [format]="'textArea'"
  [placeholder]="'Description'"
  [control]='jobForm.controls.description'>
</input-field>

<input-field
  [format]="'textArea'"
  [placeholder]="'Cover letter'"
  [control]='jobForm.controls.cover_letter'>
</input-field>

<div class='col-2'>
  <md-select placeholder='Resume (must be pdf)' [formControl]='jobForm.controls.resume_id' floatPlaceholder='always' [(ngModel)]='selectedResumeId'>
    <md-option *ngFor='let resume of resumes' [value]='resume.id'>
      {{ resume.file_file_name }}
    </md-option>
  </md-select>

  <div>
    <input type='file' #fileInput>
    <button md-raised-button [disabled]='this.uploading' type='button' color='accent' (click)='uploadResume()'>Upload</button>
    <md-progress-bar
      [color]='primary'
      [mode]='mode'
      [value]='progressValue'>
    </md-progress-bar>
  </div>
</div>
