<md-toolbar color='primary'>
  <a md-button [routerLinkActive]="['active']" [routerLinkActiveOptions]='{exact:true}' routerLink ='/'>
    Job Tracker
  </a>
  <span class='fill-remaining-space'></span>
  <a md-button [routerLinkActive]="['active']" [routerLinkActiveOptions]='{exact:true}' routerLink = '/jobs/new' *ngIf='isLoggedIn()'>
    Create a Job
  </a>
  <span class='fill-remaining-space'></span>
  <a md-button [routerLinkActive]="['active']" [routerLinkActiveOptions]='{exact:true}' routerLink='/login' *ngIf='isLoggedOut()'>
    Log In
  </a>
  <a md-button [routerLinkActive]="['active']" [routerLinkActiveOptions]='{exact:true}' routerLink='/register' *ngIf='isLoggedOut()'>
    Register
  </a>
  <button md-button routerLink='/' (click)='logOut()' *ngIf='isLoggedIn()'>
    Log Out
  </button>
</md-toolbar>
