<md-card-title>
  {{ job.title.value }} <a *ngIf='job.application_url' href='{{ job.application_url.value }}'>{{ job.application_url.value }}</a>
</md-card-title>
<md-card-subtitle>
  {{ job.company.value }} <a *ngIf='job.company_url' href='{{ job.company_url.value }}'>{{ job.company_url.value }}</a>
</md-card-subtitle>
<md-card-content>
  <p>posted: {{ job.date_posted.value | date:'fullDate' }}</p>

  <p>applied: {{ job.date_applied.value | date:'fullDate' }}</p>

  <p>status: {{ job.status.value }}</p>

  <h5>Point of Contact</h5>
  <p>{{ job.point_of_contact.value }}</p>

  <h5>Description</h5>
  <p>{{ job.description.value }}</p>

  <h5>Cover Letter</h5>
  <p>{{ job.cover_letter.value }}</p>
</md-card-content>
