<md-card-title>
  {{ job.title.value }} <a *ngIf='job.application_url' href='{{ job.application_url.value }}'>{{ job.application_url.value }}</a>
</md-card-title>
<md-card-subtitle>
  {{ job.company.value }} <a *ngIf='job.company_url' href='{{ job.company_url.value }}'>{{ job.company_url.value }}</a>
</md-card-subtitle>
<md-card-content>
  <p><strong>Posted:</strong> <span *ngIf='validDate(job.date_posted.value) | async'>{{ job.date_posted.value | date:'fullDate' }}</span></p>

  <p><strong>Applied:</strong> <span *ngIf='validDate(job.date_applied.value) | async'>{{ job.date_applied.value | date:'fullDate' }}</span></p>

  <p><strong>Status:</strong> {{ job.status.value }}</p>

  <p><strong>Point of Contact:</strong> {{ job.point_of_contact.value }}</p>

  <p><strong>Feedback:</strong> {{ job.feedback.value }}</p>

  <h4>Description</h4>
  <markdown>{{ job.description.value }}</markdown>

  <h4>Cover Letter</h4>
  <markdown>{{ job.cover_letter.value }}</markdown>

  <ng-container *ngIf='resume'>
    <p><strong>Resume:</strong> {{ resume.file_file_name }}</p>
    <a md-raised-button href='{{ resumeDownloadUrl }}'>View Resume</a>
  </ng-container>
</md-card-content>
