<form [formGroup]='registerForm' (ngSubmit)='submit(registerForm.value)'>
  <input-field
    [type]="'email'"
    [placeholder]="'email'"
    [control]='registerForm.controls.email'>
  </input-field>

  <input-field
    [type]="'password'"
    [placeholder]="'password'"
    [control]='registerForm.controls.password'>
  </input-field>

  <input-field
    [type]="'password'"
    [placeholder]="'password confirmation'"
    [control]='registerForm.controls.password_confirmation'>
  </input-field>
  
  <button md-raised-button type='submit' [disabled]='!registerForm.valid'>Register</button>
</form>
