<!DOCTYPE html>
<html>
  <head>
    <base href='/'>
    <title>Job Tracker</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'angular' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'angular' %>
  </body>
</html>
